# Created by .gitignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

mobile-scanner-parent/mobile-scanner-repository/mobile-scanner-repository.iml
mobile-scanner-parent/mobile-scanner-server/mobile-scanner-server.iml
mobile-scanner-parent/mobile-scanner-service/mobile-scanner-service.iml
mobile-scanner-parent/mobile-scanner-admin/mobile-scanner-admin.iml
mobile-scanner-parent/mobile-scanner-parent.iml
mobile-scanner-parent/mobile-scanner-repository/target
mobile-scanner-parent/mobile-scanner-server/target
mobile-scanner-parent/mobile-scanner-service/target
mobile-scanner-parent/target
.idea

